@import "tailwindcss";

@theme {
  --color-mainBackgroundColor: #0D1117;
  --color-columnBackgroundColor: #161C22;
}

html,
body,
#root {
  @apply bg-black text-white box-border;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-500;
}